/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	height: 100%;
}

body {
/*	font-family: 'Open Sans', sans-serif;*/
	font-size: 15px;
	color: #2B2B2B;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	color: #2B2B2B;

}

a, a:hover, a:focus {
	text-decoration: none;
	border: none;
	outline: 0;
}

a:hover {
	opacity: .7;
}

img {
	width: 100%;
	height: auto;
}
/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/


/*...............................................................................................................
	CSS FOR SECTION TITLE/HEADING, SECTION PADDING START
...............................................................................................................*/

.section-padding {
	padding: 70px 0;	
}

.service-bg1 {
	background-image: url(../img/service-bg1.jpg);
}
.service-bg2 {
	background-image: url(../img/service-bg2.jpg);
}
.service-bg3 {
	background-image: url(../img/service-bg3.jpg);
}
.service-bg4 {
	background-image: url(../img/service-bg4.jpg);
}


.service-title {
    margin-bottom: 70px;
}
.service-title h3 {
    font-weight: 700;
}
.service-title.text-center {
}
.service-bg {
    background-size: cover;
    background-position: center;
    height: 200px;
    background-color: #ddd;
    border-radius: 5px;
}
.single-service {
    background-color: #FFFFFF;
}
.service-area {
    background-color: #F8FAF9;
}
.service-content {
    line-height: 2;
    padding: 20px;
}
.service-content h5 {
    font-weight: 700;
    /*! margin-top: 20px; */
}
.btn-service {
	color: #2ECC71;
	font-weight: 700;
	font-size: 18px;
	transition: .3s;
	margin-top: 20px;
	display: inline-block;
}
.btn-service i.fa {
    padding-left: 5px;
}
.btn-service:hover {
    background: #2ECC71;
    color: #fff;
    padding: 7px 20px;
    border-radius: 50px;
}
.btn-service:hover .btn-service i.fa {
    padding-left: 10px;
}
.single-service:hover {
    box-shadow: 0 0px 12px #7BCA3D;
}
/*...............................................................................................................
	CSS FOR NEWS AREA START
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR NEWS AREA END
...............................................................................................................*/
