/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body, .full-height {
	height: 100%;
}

body {
	height: 100%;
	color: #888888;
	line-height: 1.8;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #666666;
	line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	font-weight: 300;
}

a, a:hover, a:focus {
	text-decoration: none;
	transition: .3s;
	
}

a:hover {
	opacity: .6;
}

img {
	width: 100%;
	height: auto;
}
/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/
/*Main Menu Area by using AFFIX CLASS*/

.logo img {
    width: 50px;
}
.logo {
    display: block;
    text-align: center;
    background: #fff;
}

.main-menu {
    background-color: #1AA260;
}
.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    /*! display: block; */
}
.main-menu li {
    display: inline-block;
}
.main-menu a {
    display: block;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px;
    text-transform: uppercase;
}


/* USES OF AFFIX CLASS
.main-menu-area.affix {
    width: 100%;
    z-index: 9;
}

*/


/*USES OF JQUERY SCROLL TOP*/
.sticky-menu-area.is-stick {
    position: fixed;
    width: 100%;
    z-index: 9;
}



/*End Main Menu Area*/
.section-padding{
	padding: 200px 0;
}

.section-title {
    text-align: center;
}


.section-title img {
    width: 60px;
}
h1, h2, h3, h4 {
    color: #5B5B93;
    font-weight: 400;
}
.section-title h2 {
    font-size: 25px;
}
.section-title p {
    font-size: 15px;
}
.section-title {
    margin-bottom: 100px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
body {
    color: #8E8E8E;
    font-size: 16px;
    line-height: 2;
}
.single-service {
    padding: 20px;
}
.service-bg {
    position: absolute;
    right: -70px;
    bottom: 0;
    width: auto;
}
.section-wrap {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}