/*
RRF 100+ SECTION DEVELOPMENT
CLASS # 10-5
REPORT SUBMISSION DT : 07/11/2017
SUBMITTED BY : skmorshed75@gmail.com
*/

/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

/*CODE BOLD / LIGHT FONTS*/
@font-face {
  font-family: 'CodeBold';
  src: url('../fonts/Code-Bold.eot');
  src: url('../fonts/Code-Bold.eot') format('embedded-opentype'), url('../fonts/Code-Bold.woff') format('woff'), url('../fonts/Code-Bold.woff') format('woff'), url('../fonts/Code-Bold.ttf') format('truetype'), url('../fonts/Code-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CodeLight';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot') format('embedded-opentype'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.woff') format('woff'), url('../fonts/Code-Light.ttf') format('truetype'), url('../fonts/Code-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Karla', sans-serif;
	font-size: 15px;
	color: #AEAEAE;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	color: #333;
	font-weight: 700;
}

a, a:hover, a:focus {
	text-decoration: none;
	border: none;
	outline: 0;
	color: #7e8287;	
}

a {
	transition: .3s
}

a:hover {
	opacity: .6;
}

img {
	width: 100%;
	height: auto;
}


/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR OFF-CANVUS MENU START
...............................................................................................................*/
.off-canvas-menu {
    background: #333;
    width: 300px;
    height: 100%;
    z-index: 9;
    position: fixed;
	padding: 5px;
	margin-left: -300px;
	transition: .5s;
}

.off-canvas-menu h6 {
    color: #999;
    text-transform: uppercase;
    margin-top: 15px;
    position: absolute;
    border-bottom: 1px solid #999;
    font-size: 15px;
    margin-left: 15px;
}

.off-canvas-menu.active {
	margin-left: 0;
}

.off-canvas-menu ul {
    padding: 100px 15px 0px;
	;
}

.off-canvas-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
}

.off-canvas-menu ul li a {
    color: #fff;
	display: block;
/*	padding: 5px 0;*/
}

span.btn-menu-close {
    right: 0;
    text-align: 0;
    top: 0;
    position: absolute;
    padding: 12px;
    font-size: 20px;
	cursor: pointer;
}

span.btn-menu-close:hover {
    opacity: .6;
}

.off-canvas-overlay {
    background: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: -1;
	transition: .5s;
	
}

.off-canvas-overlay.active {
	z-index: 8;
	opacity: .5;
}

/*...............................................................................................................
	CSS FOR OFF-CANVUS MENU END
...............................................................................................................*/




/*...............................................................................................................
	CSS FOR SECTION TITLE/HEADING, SECTION PADDING START
...............................................................................................................*/

.section-padding {
	padding: 0px 0;
}

.section-title {	
    margin-bottom: 60px;
}

.section-title h2 {	
    color: #333;
    font-size: 30px;
	font-weight: 900;
	text-transform: none;
	margin-bottom: 10px;
}


/*...............................................................................................................
	CSS FOR SECTION TITLE/HEADING, SECTION PADDING END
...............................................................................................................*/


/*...............................................................................................................
	CSS FOR HEADER AREA START
...............................................................................................................*/
.header-area {
	padding: 10px 0 0;
}

.menu-triger {
    margin-top: 7px;
}
.menu-triger:hover {
    opacity: .6;
}

.menu-triger span {
    width: 30px;
    background: #E84F88;
    height: 2px;
    display: block;
    margin-bottom: 7px;
}

.menu-triger span:nth-child(2) {
	width: 20px;
}

.menu-triger span:last-child {
	width: 25px;
}

/*

.menu-triger .bar-small {
    width: 20px;
}
*/
/*

.menu-triger .bar-medium {
    width: 25px;
}
*/

.main-menu ul {
    display: inline-block;
    /* float: left; */
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding-right: 30px;
}

.main-menu ul li a {
    color: #5b3f61;
    text-transform: uppercase;
    font-size: 16px;
}

.menu-right {
    float: right;
	line-height: 35px;
}

.menu-right a {
    display: inline-block;
    color: #5b3f61;
    font-size: 16px;
    text-transform: uppercase;
}

.menu-right a i.fa {
    font-size: 22px;
    padding-left: 20px;
}

.menu-right img {
    padding-left: 20px;
}

.hero-area {
    background-color: #F2E5E1;
}

.menu-right a i.fa {
    position: relative;
    top: 3px;
}

.menu-right a img {
	top: -2px;
	position: relative;
}

.main-menu {
    line-height: 35px;
}

.menu-right a i.fa {
    position: relative;
    top: 3px;
}

.menu-right a img {top: -5px;position: relative;}


/*...............................................................................................................
	CSS FOR HEADER AREA END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR SLIDER AREA START
...............................................................................................................*/

.slider-area {
	background-color: #F4EAE7;
	position: relative;
}

/*

.slider-bg1 {
	background-image: url("../img/slider-bg.png");
	background-size: cover;
	height: 650px;
	margin-left: calc(50% - 300px);
	width: 600px;	
}
*/



.single-slide {
	height: 600px;
	overflow: hidden;
	position: relative;
}

.single-slide img{
	bottom: 0;
	height: 600px;
	left: 50%;
	margin-left: -300px;
	position: absolute;
	width: 600px;
}

.slider-item.owl-carousel .owl-item .single-slide img {
    width: auto;
}

.slide-text-table {
    display: table;
    height: 100%;
    width: 100%;
	position: absolute;
	z-index: 1;
	margin-top: 8px;
}

.slide-tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.slide-text-table span {
    color: #e84f88;
    display: block;
    font-family: CodeLight,sans-serif;
    font-size: 120px;
    line-height: 120px;
    margin-left: 250px;
    text-transform: uppercase;
}
span.slide-italic {
    font-family: CodeBold,sans-serif;
    font-style: italic;
    font-weight: 400;
}
span.slide-blue {
    color: #6db0c6;
}

.slider-area .owl-controls .owl-nav div {
    position: absolute;
    font-size: 22px;
    color: #5b3f61;
    opacity: 0;
    line-height: 30px;
    top: calc(50% - 15px);
    left: 0;
	transition: .5s;
}
.slider-item .owl-controls .owl-nav div.owl-next {
    left: auto;
    right: 0;
}


.slider-area :hover .owl-controls .owl-nav div {
    opacity: 1;
}

.slider-area:hover .owl-controls .owl-nav div.owl-prev {
    left: 5%;
}
.slider-area:hover .owl-controls .owl-nav div.owl-next {
    right: 5%;
}


.slider-area :hover .owl-controls .owl-nav div.owl-next {
    left: auto
    right: 5%;
}



.big-menu li {
    background: #ecf3e8 none repeat scroll 0 0;
    color: #5b3f61;
    float: left;
    font-family: CodeLight;
    font-size: 48px;
    padding-bottom: 50px;
    padding-top: 200px;
    text-transform: uppercase;
    width: 30%;
}
.big-menu {
    overflow: hidden;
    text-align: center;
}
.big-menu li:nth-child(2) {
    background-color: #f1e5e5;
    font-family: codebold,sans-serif;
}

.big-menu li:nth-child(2) a {
    color: #e84f88;
}

.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
}
.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
    padding-left: 50px;
    text-align: left;
}
.big-menu li:nth-child(2), .big-menu li:nth-child(3) {
    width: 20%;
}
.big-menu li:first-child {
    padding-right: 50px;
    text-align: right;
}

/*...............................................................................................................
	CSS FOR SLIDER AREA END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR PRODUCT AREA START
...............................................................................................................*/
.product-bg1{
	background-image: url(../img/product-bg1.png);
}
.product-bg2{
	background-image: url(../img/product-bg2.png);
}
.product-bg3{
	background-image: url(../img/product-bg3.png);
}
.product-bg4{
	background-image: url(../img/product-bg4.png);
}
.product-bg5{
	background-image: url(../img/product-bg5.png);
}
.product-bg6{
	background-image: url(../img/product-bg6.png);
}
.product-bg7{
	background-image: url(../img/product-bg7.png);
}
.product-bg8{
	background-image: url(../img/product-bg8.png);
}
.product-bg9{
	background-image: url(../img/product-bg9.png);
}
.product-bg10{
	background-image: url(../img/product-bg10.png);
}


.product-list {
    margin-left: -2%;
}
.single-product {
    background-color: #f0cdbd;
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: 0;
    float: left;
    height: 300px;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 18%;
}
.single-product:nth-child(2) {
    height: 620px;
    width: 78%;
}
.single-product:nth-child(4) {
    width: 58%;
}
.single-product:nth-child(9) {
    width: 38%;
}


.product-top {
    float: right;
    padding: 12px;
    position: relative;
    z-index: 7;
}
.product-top a {
    color: #9f8ea2;
    padding: 5px;
}
.product-hover::after {
    background: rgba(109, 176, 198, 0.69) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.product-hover > a {
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    left: 50%;
    line-height: 30px;
    margin-left: -40px;
    margin-top: 0px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 80px;
    z-index: 7;
	transition: .5s;
}
.product-hover {
height: 100%;
opacity: 0;
transition: all 0.5s ease 0s;
width: 100%;
}

.single-product:hover .product-hover {
  opacity: 1;
}

.single-product:hover .product-hover > a {
  margin-top: -25px;
}

.single-product:hover .product-btm {
  bottom: 0px;
}

.single-product:hover .product-top a {
  color: #fff;
}

.product-btm {
    background: #fff none repeat scroll 0 0;
    bottom: 50px;
    color: #5b3f61;
    font-family: karla,sans-serif;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 7;
	transition: .5s;
}
.product-btm p {
    margin: 0;
}
p.color-grey {
	color: #89838a;
}

span.product-price {
    bottom: 10px;
    color: #e84f88;
    font-size: 20px;
    position: absolute;
    right: 0;
}

span.color-box span {
    border: 1px solid #d9d4da;
    bottom: -1px;
    display: inline-block;
    height: 13px;
    position: relative;
    width: 13px;
}
span.color-box {
    padding-left: 4px;
    position: absolute;
}
span.color-white {
}
.color-box span.color-red {
    background: #ee4a4a none repeat scroll 0 0;
    border-color: #ee4a4a;
}
.color-box span.color-green {
    background: #99e4e7 none repeat scroll 0 0;
    border-color: #99e4e7;
}

.btn-load-more {
  background: #f9f9f8 none repeat scroll 0 0;
  color: #e84f88;
  display: block;
  font-family: karla;
  font-size: 16px;
  font-weight: 700;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
margin-bottom: 50px;
}

/*...............................................................................................................
	CSS FOR PRODUCT AREA END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR PROMO AREA START
...............................................................................................................*/

.promo-area .row {
    background: #f8f5f5 none repeat scroll 0 0;
    margin-top: 20px;
}
.promo-img {
    background: #f4f0f0 none repeat scroll 0 0;
    padding-top: 60px;
}
.promo-img img {
    margin-bottom: -22px;
}

.promo-img img {
    width: auto!important;
}
.promo-content {
	padding: 60px 80px 60px 30px;
}

.promo-img img {
    width: auto!important;
}

.product-promotion .owl-controls .owl-dots div {
    width: 15px;
    height: 15px;
    background: #D3CECE;
    margin-bottom: 10px;
    border-radius: 50%;
    /* right: 0; */
    /* position: relative; */
    /* right: 0; */
    /* top: 50%; */
}

.single-promotion {
	overflow: hidden;
}
.product-promotion .owl-controls .owl-dot.active {
    background: #E84F88;
}

.product-promotion .owl-controls .owl-dots {
    position: absolute;
    right: 4%;
    top: 50%;
	margin-top: -2%;
}
.promo-content h2 {
    color: #e84f88;
    font-family: CodeLight;
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
}
.promo-content h2 strong {
    font-family: codebold;
}
.promo-content span {
    color: #51abc8;
    display: inline-block;
    font-size: 110px;
    left: 36%;
    opacity: 0.2;
    position: absolute;
    top: 31px;
}
.promo-content p {
    color: #786b7a;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn-more {
    background-color: #51abc8;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: uppercase;
	transition: .5s;
}

.btn-more:hover {
    background-color: #fff;
	color: #51ABC8;
	opacity: 1;

}


/*...............................................................................................................
	CSS FOR PROMO AREA END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR BRAND AREA START
...............................................................................................................*/
.single-brand {
    padding: 180px 0 35px;
}

/*...............................................................................................................
	CSS FOR BRAND AREA END
...............................................................................................................*/

/*...............................................................................................................
	CSS FOR FOOTER AREA START
...............................................................................................................*/

.footer-area {
    background-color: #f4f4f4;
    padding: 65px 0;
}
.footer-menu li a {
    color: #919191;
    display: block;
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-menu li {
    display: inline-block;
    padding-right: 18px;
}
.footer-menu p {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
}
.footer-menu ul {
    margin-bottom: 0;
}
.footer-menu {
}


.footer-area {
    background-color: #f4f4f4;
    padding: 65px 0;
}
.footer-menu li a {
    color: #919191;
    display: block;
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-menu li {
    display: inline-block;
    padding-right: 18px;
}
.footer-menu p {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
}
.footer-menu ul {
    margin-bottom: 5px;
}
.footer-menu {
}
.footer-right {
    text-align: right;
}
.social-links > a {
    color: #b2b2b2;
    font-size: 20px;
    padding-left: 13px;
}
.contact-form input {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 320px;
}

form a.btn-subscribe {
    background: #e84f88 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    padding: 11px 20px;
    text-transform: uppercase;
	transition: .5s;
}

form a.btn-subscribe:hover {
	background-color: #fff;
	color: #E84F88;
	opacity: 1;
}

/*...............................................................................................................
	CSS FOR FOOTER AREA END
...............................................................................................................*/
