/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700|Tangerine:400,700');

html, body, .full-height {
	height: 100%;
}

body {
	height: 100%;
	color: #888888;
	line-height: 1.8;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #686C6F;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	font-weight: 300;
}

a, a:hover, a:focus {
	text-decoration: none;
	transition: .3s;
	
}

a:hover {
	opacity: .6;
}

img {
	width: 100%;
	height: auto;
}

/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/
/*Feature Area*/

.single-feature.f-bg1 {background-image: url(../img/f-bg1.jpg);}
.single-feature.f-bg2 {background-image: url(../img/f-bg2.jpg);}
.single-feature.f-bg3 {background-image: url(../img/f-bg3.jpg);}
.single-feature.f-bg4 {background-image: url(../img/f-bg1.jpg);}

.section-padding {
	padding: 50px 0;
}
.logo a {
    font-size: 20px;
    font-weight: 700;
    color: ;
}
.logo a, .main-menu a {
    color: #686C6F;
}
.main-menu li {
    display: inline-block;
}
.main-menu a {
    font-size: 14px;
    font-weight: 700;
    padding: 20px;
    display: block;
    padding-right: 0;
}
.logo {
    padding: 20px 0;
}
.dark-bg {
    background-color: #1D1E20;
}


.hero-area.dark-bg {
    padding: 150px 0 100px;
}
.text-upper {
    text-transform: uppercase;
}
.hero-area p {
    font-size: 14px;
}
.hero-area h2 {
    color: #FCFCFC;
    font-size: 40px;
    line-height: 1.5;
}
.hero-area.dark-bg {
}
.hero-area span {
    color: #E3BB1E;
    text-transform: uppercase;
}
.yellow-bg {
    background: #E3BB1E;
}
.feature-area {
    padding: 50px 0;
    color: #fff;
    /*! font-size: 40px; */
    /*! font-weight: 800; */
}
.feature-area h3 {
    font-size: 30px;
    font-weight: 700;
}

.single-feature {
    height: 300px;
    width: 60%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ddd;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}
.single-feature.small-bg {
    width: 36%;
}
.feature-list {
    margin-left: -2%;
}
.menu-absolute {
    position: absolute;
    width: 100%;
    padding-top: 50px;
}
.menu-absolute a, .contact-area h2  {
    color: #fff;
}

a.btn-square {
    border: 1px solid #E3BB1E;
    color: #E3BB1E;
    font-size: 14px;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-area {
    background-color: #1D1E20;
    border-top: 1px solid #333;
	padding: 20px 0;
}

.social-icon a {
    color: #888888;
    font-size: 16px;
    padding-left: 10px;
}