/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body, .full-height {
	height: 100%;
}

body {
	height: 100%;
	color: #888888;
	line-height: 1.8;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #666666;
	line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	font-weight: 300;
}

a, a:hover, a:focus {
	text-decoration: none;
	transition: .3s;
	
}

a:hover {
	opacity: .6;
}

img {
	width: 100%;
	height: auto;
}
/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/
/*Main Menu Area*/

.section-title h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #232323;
}
.section-title {
    padding: 50px 0;
}
.single-testimonial img {
    width: 100px;
    height: 100px;
    margin-top: -30px;
    display: inline-block;
}
.single-testimonial {
    text-align: center;
    padding-top: 30px;
}
.single-testimonial h2 {
    display: inline-block;
    color: #717171;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
}
.single-testimonial h2 span {
    text-transform: none;
    font-size: 80%;
    padding-top: 10px;
    display: inline-block;
}
.single-testimonial p {
    line-height: 1.8;
    margin-top: 40px;
    font-size: 16px;
    color: #A6A6A6;
}
.testimonial-author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -28px;
}
.testimonial-author h2 {
    display: inline-block;
    font-size: 17px;
    max-width: 175px;
    padding-left: 10px;
    text-transform: uppercase;
}
.testimonial-author h2 span {
    text-transform: none;
    font-size: 80%;
    display: inline-block;
    padding-top: 10px;
}

.testimonial-author a{
	color: #666;
}


.testimonial-author li {
    margin-bottom: 15px;
    /*! overflow-y: scroll; */
}
.testimonial-author ul {
    height: 280px;
    overflow-y: scroll;
}
.active {
}
.single-testimonial {
}
.testimonial-author {
    margin-top: 0px;
}
.testimonial-author li {
    padding-top: 20px;
	opacity: .5;
}
.testimonial-author li.active {
	opacity: 1;
}
.testimonal-content {
    position: relative;
}
.testimonal-left {
	font-size: 40px;
	text-transform: uppercase;
	color: #ECEBEB;
	font-weight: 800;
	position: absolute;
	z-index: 1;
	/* background: #fff; */
	/* background: red; */
	z-index: 2;
	/* padding: 0 20px; */
	transform: rotate(-90deg);
	left: -230px;
	bottom: 29px;
}
.testimonal-left:before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    height: 2px;
    width: 125%;
    background: #ECEBEB;
    z-index: -1; 
}

.testimonal-left span {
	background: #fff;
	padding-right: 5px;
}