/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body, .full-height {
	height: 100%;
}

body {
	max-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #333;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	font-weight: 700;
}

a, a:hover, a:focus {
	text-decoration: none;
	border: none;
	outline: 0;
	color: #7e8287;	
}

a:hover {
	opacity: .7;
}

img {
	width: 100%;
	height: auto;
}
/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/

.overlay {
    position: relative;
    z-index: 1;
}

.overlay:after, .single-event:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    position: absolute;
    z-index: -1;
    opacity: .5;
}

.single-event:after {
	border-radius: 10px;
}
.single-event, .single-event a {
	color: #fff;
}
.single-event {
    text-align: center;
    line-height: 2;
    padding: 25px;
    z-index: 1;
    position: relative;
}

.service-icon i {
    font-size: 49px;
    margin-bottom: 20px;
}

.service-icon h4 {
    /* font-size: 20px; */
}

.single-event h4 {
    font-size: 20px;
}

.single-event p {
    font-size: 16px;
    z-index: -5;
}

/*...............................................................................................................
	CSS FOR SECTION TITLE/HEADING, SECTION PADDING START
...............................................................................................................*/

.section-padding {
	padding: 100px 0;
}

.section-padding.full-height {
	padding: 0;
}
.section-title {	
    padding: 0 0 40px 0;
    color: #999999;
    font-size: 17px;	
}

.section-title h2{
	color: #242424;
	font-size: 30px;
}

.section-table {
    display: table;
    height: 100%;
    width: 100%;
}
.section-table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.parallax-bg-1, .parallax-bg-2, .parallax-bg-3 {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-color: #ddd;
}
.parallax-bg-1 {
	background-image: url(../img/parallax-bg-1.jpg);
}
.parallax-bg-2 {
	background-image: url(../img/parallax-bg-2.jpg);
}
.parallax-bg-3 {
	background-image: url(../img/parallax-bg-3.jpg);
}

.video-area {
    color: #fff;
    font-size: 40px;
}

a.btn-video {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    color: #333;
    transition: .5s;
}

.play-video {
    text-align: center;
	transition: .5s;
}

a.btn-video:hover {
    background: #333;
    color: #fff;
}

.bottom-area {
    color: #fff;
    text-align: center;
    line-height: 1.8;
}