/*...............................................................................................................
	CSS FOR DEFAULT / RESET START
...............................................................................................................*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #777;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 auto 15px;
	padding: 0;
	font-weight: 700;
}

a, a:hover, a:focus {
	text-decoration: none;
	border: none;
	outline: 0;
	color: #7e8287;	
}

a:hover {
	opacity: .7;
}

img {
	width: 100%;
	height: auto;
}
/*...............................................................................................................
	CSS FOR DEFAULT / RESET END
...............................................................................................................*/


/*...............................................................................................................
	CSS FOR SECTION TITLE/HEADING, SECTION PADDING START
...............................................................................................................*/

.section-padding {
	padding: 50px 0;
}

.section-title {	
    padding: 0 0 40px 0;
    color: #999999;
    font-size: 17px;	
}

.section-title h2{
	color: #242424;
	font-size: 30px;
}

section.footer-area {
    background: #14ADF3;
}

section.footer-area, section.footer-area a {
    color: #fff;
}

.footer-widget h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: 400;	
}

.footer-widget {
    line-height: 28px;
    font-weight: 300;
}

.social-link i.fa {
    font-size: 18px;
    margin-top: 20px;
    /* padding-right: 12px; */
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 8px;
}

p.contact-info {
    padding-left: 30px;
    font-size: 14px;
	position: relative;
	margin-bottom: 5px;
}

p.contact-info i.fa {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 17px;
}

.footer-contact-form h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 28px;
}

.footer-contact-form form input[type=email],.footer-contact-form form input[type=submit] {
    border: 0px;
    padding: 5px 5px;
    font-size: 13px;
    background: #fff;
}

.footer-contact-form {
}

p {}

.footer-contact-form form {
    margin-bottom: 18px;
}

.footer-contact-form input[type="email"] {
    width: 75%;
}

.footer-contact-form input[type="submit"] {
    width: 23%;
    color: #14ADF3;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-stretch: extra-expanded;
}

.footer-contact-form p {
    font-size: 13px;
}

.copyright-area {
    background: #ddd;
    padding: 15px 0;
    font-size: 14px;
}

.col-md-6.text-right {}

.copyright-area ul li {
    display: inline-block;
    /* position: relative; */
}

.copyright-area ul {
    margin: 0;
}

.copyright-area ul li:after {
    content: "|";
    padding-left: 10px;
    padding-right: 5px;	
}

.copyright-area ul li:last-child:after {
    display: none;
}