/* Large Layout : 1280px LG */
@media only screen and (min-width:992px) and (max-width: 1200px) {
 	.main-menu ul {
		background: red;
	}

	
}

/* Medium Layout : 768px MD */
@media only screen and (min-width:768px) and (max-width: 991px) {
 	.main-menu ul {
		background: purple;
	}
	.main-menu li a {
    	padding-left: 60px;
	}
	.news-letter-form h2 {
		font-size: 26px;
	}
	
	
	
}

/* Mobile Layout : 320px Col- */
@media only screen and (max-width: 767px) {
 	.main-menu ul {
		background: orange;
	}
	.logo {
		text-align: center;
		width: 100%;
	}
	.logo img {
		width: 125px;
	}
	.main-menu {
		text-align: center;
	}
	.main-menu a {
		padding: 20px;
	}
	.main-menu li {
		padding: 0;
	}
	.main-menu li a {
		padding: 15px;
		font-size: 12px;
	}
	section.main-menu-area {
		padding: 30px 0;
	}
	h2 {
		font-size: 24px;
	}
	.single-blog {
		margin-top: 30px;
	}
	.blog-right, .blog-left {
		margin-left: 0;
		margin-right: 0;
	}
	.footer-left {
		text-align: center;
	}
	.footer-right.text-right {
		text-align: center !important;
		margin-top: 20px;
	}	
	
	.footer-left a {
		padding: 0 15px;
	}	
	.footer-right a {
		padding: 0 5px;
	}	
	
	
}

/* Wide Mobile Layout : 480px SM */
@media only screen and (min-width: 576px) and (max-width: 767px) {
 	.main-menu ul {
		background: magenta;
	}


	
	
}
